# Local Compiled Binaries
dist/
bin/
orchestrator
worker

# Architecture Tooling & Package Dependencies
vendor/
go.work

# Operating System Metadata
.DS_Store
Thumbs.db

# IDE Configuration Indexes
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Runtime Environment Secret Variables
*.env
*.env.local

# Terraform Runtime State Outputs & Locks
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
*.tfvars.json
